.idea

# build artifacts
*.tsbuildinfo
/lib/
/coverage/
/docs/pages/

# NOTE: Allow ESM build to be committed so we can install and use from repository
!/dist/esm/*
**/dist/browser
**/dist/umd

# caches
.eslintcache
.cache
.parcel-cache/

# dependencies
node_modules/

*.log
.DS_Store
.vscode/
temp/
.history/

# Jetbrains IDEs
.idea/
